<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1919831472-n7s5qjhqjfs5ms9k1mmii7b8lk46cejk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1919831472-n7s5qjhqjfs5ms9k1mmii7b8lk46cejk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1919831472-174rn4qmmi7c1th85g29bo0pfs4u90kq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB5xxBjFHTaF4_1OeUSbTIJg2PrcYrng_w</string>
	<key>GCM_SENDER_ID</key>
	<string>1919831472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>biz.anne.app</string>
	<key>PROJECT_ID</key>
	<string>anne-2c38c</string>
	<key>STORAGE_BUCKET</key>
	<string>anne-2c38c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1919831472:ios:bc4a9fb7c603e985335a75</string>
</dict>
</plist>